body {
}



#controller {
    overflow: hidden;
    padding: 15px 0px 20px 0px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: cornflowerblue;
    width: 100%;
    left: 0;
    top: 0;
}


#controllerDownload {
    padding: 0px 20px;
}

#controllerShow {
    padding: 0px 20px;
}

#spanSelectTeam, #spanStatInd, #spanSelectWeek, #spanNextMatches {
    margin: 0px 5px;
}

#exempleClassement {
    display: none;
}

.textAlignLeft{
    text-align:left;
}
.textAlignCenter {
    text-align: center;
}

#Classements {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Classements > * {
    flex: 1 0 auto;
}

/* Commentaire */
.classementContainer {
    width: 600px;
    height: auto;
    border: 1px dotted;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
    min-width: 600px;
    max-width: 600px;
}

/* Commentaire */
.classementHeader {
    border: 3px outset;
    text-align: center;
    padding: 10px 0px;
    width: 98%;
    margin: 20px 1% 20px 1%;
    font: bold 30px arial;
    background-color: lightgrey;
}
.classementWeek { 
    text-align: center;
    width: auto;
    margin: 10px auto;
    
}
.cw_border {
    display: inline-block;
    padding: 10px;
    border: 3px outset;
    font: bold 24px arial;
    background-color: lightgrey;
}
/* Commentaire */
.classementMatches {
    border: 3px solid;
    width: 92%;
    margin: 50px 4%;
}

.nextMatches {
    border: 3px solid;
    width: 84%;
    margin: 0px 8% 50px 8%;
}

.nextMatchesTitle{
    background-color: #848484;
    font: bold 20px arial;
    text-align: center;
}

.nextMatchesCore{
    width: 86%;
    margin: 0px 7%;
    font: 16px arial;
}

.cm_ve {
    width: 38%;
}
.cm_vr {
    width: 38%;
}
.cm_sc {
    width: 24%;
}

/* Commentaire */
.classementRI {
    border: 3px solid;
    width: 84%;
    margin: 50px 8%;
}

table.classementRI> tr > td{
    font-size: 16px;
}
table.classementRI>tr>td:first-child{
    padding-left: 15px;
}

.classementRI_notCreated {
    border: 3px solid;
    width: 84%;
    margin: 50px 8%;
    display: none;
}

.cri_j {
    width: 42%;
}

.cri_v {
    width: 6%;
}

.cri_g {
    width: 26%;
}

.cri_p {
    width: 26%;
}

.Perf{
    color: green;
    font-weight: bolder;
    text-decoration: underline;
}
.Contre{
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}
/* Commentaire */
.classementRankings {
    border: 3px solid;
    width: 96%;
    margin: 25px 2% 10px 2%;
}

.cr_position {
    width: 4%;
}
.cr_team {
    width: 48%;
}
.cr_played {
    width: 7%;
}
.cr_won {
    width: 7%;
}
.cr_lost {
    width: 7%;
}
.cr_draw {
    width: 7%;
}
.cr_points {
    width: 12%;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color: #DEDEDE;
}

td, th {
    border: 1px solid;
    border-collapse: collapse;
}
th {
    background-color: #848484;
}
td {
    font: normal 18px arial;
}
.tableHeader {
    font: bold 24px arial;
    border: 3px solid;
}

.classementRankings > tr.myTeam {
    background-color: cornflowerblue;
}

.classementRankings > tr.myTeam.pos_1 :first-child , 
.classementRankings > tr.myTeam.pos_2 :first-child {
    background-color: green;
}

.classementRankings > tr.myTeam.pos_3 :first-child,
.classementRankings > tr.myTeam.pos_4 :first-child,
.classementRankings > tr.myTeam.pos_5 :first-child,
.classementRankings > tr.myTeam.pos_6 :first-child,
.classementRankings > tr.myTeam.pos_7 :first-child,
.classementRankings > tr.myTeam.pos_8 :first-child,
.classementRankings > tr.myTeam.pos_9 :first-child,
.classementRankings > tr.myTeam.pos_10 :first-child{
    background-color: orange;
}

.classementRankings > tr.myTeam.pos_11 :first-child,
.classementRankings > tr.myTeam.pos_12 :first-child{
    background-color: red;
}


.classementMatches tr.mWon {
    background-color: green;
}
.classementMatches tr.mDraw {
    background-color: orange;
}
.classementMatches tr.mLost {
    background-color: red;
}

.displayNone{
    display: none;
}

.flexContainer {
    width: 100%;
    
}

.flexContainer > span {
	text-align: center;
	
	width: 25%;
    display: inline-block;
}