body {
}



#controller{
    display: flex;
    margin: 15px 30px 20px 30px;
}

#controllerDownload {
    flex: 1;
}

#exempleClassement{
    display: none;
}

.textAlignLeft{
    text-align:left;
}
.textAlignCenter {
    text-align: center;
}

/* Commentaire */
.classementContainer {
    width: 600px;
    height: 750px;
    border: 1px dotted;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
}

/* Commentaire */
.classementHeader {
    border: 3px outset;
    text-align: center;
    padding: 10px 0px;
    width: 98%;
    margin: 20px 1% 80px 1%;
    font: bold 30px arial;
    background-color: lightgrey;
}

/* Commentaire */
.classementMatches {
    border: 3px solid;
    width: 86%;
    margin: 50px 7%;
}


.cm_ve {
    width: 38%;
}
.cm_vr {
    width: 38%;
}
.cm_sc {
    width: 24%;
}


/* Commentaire */
.classementRankings {
    border: 3px solid;
    width: 96%;
    margin: 25px 2% 10px 2%;
}

.cr_position {
    width: 4%;
}
.cr_team {
    width: 48%;
}
.cr_played {
    width: 7%;
}
.cr_won {
    width: 7%;
}
.cr_lost {
    width: 7%;
}
.cr_draw {
    width: 7%;
}
.cr_points {
    width: 12%;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color: #ededed;
}

td, th {
    border: 1px solid;
    border-collapse: collapse;
}
th {
    background-color: #808080;
}
td {
    font: normal 18px arial;
}
.tableHeader {
    font: bold 24px arial;
    border: 3px solid;
}

tr.myTeam {
    background-color: cornflowerblue;
}